Thumbs.db
*.obj
*.exe
*.vcxproj
*.filters
*.user
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.sdf
*.sln
*.opensdf
*_i.c
*_p.c
*.ncb
*.lastbuildstate
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.ipch
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.out
*.dll
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/